body{
    color: #fff
}

.choice-container{
    display: flex;
    margin-bottom: 0.4rem;
    width: 100%;
    border-radius: 2px;
    background: rgb(19, 40, 85);
    font-size: 2rem;
    min-width: 20rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0, 0.1rem, 0.8rem 0 rgba(0,0,0);
    transform: scale(1.03);
    transform: transform 100ms;
}

.choice-prefix{
    padding: 1.5rem 2rem;
    color: white;
}

.choice-text{
    padding: 1.5rem;
    width: 100%
}

.correctAnswer{
    background: linear-gradient(32deg, rgb(87, 222, 103) 0%, rgb(8, 142, 23) 100%)
}

.incorrectAnswer{
    background: linear-gradient(32deg, rgb(237, 87, 53) 0%, rgb(183, 44, 13) 100%)
}

#quizStatus{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.quizStatus-item-prefix{
    text-align: center;
    font-size: 1.2rem;
}

#quizStatus-item-text{
    font-size: 2rem;
}

.quizStatus-item{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 2rem;
}

.quiz-score{
    text-align: right;
    display: flex;
    margin-left: 5px;
    font-size: 2rem;
}

.quizStatus-prefix.quiz-score{
    border-style: solid;
    border-color: aqua;

}

.quiz-timer{
    text-align: right;
    display: flex;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .choice-container {
        min-width: 10rem;
    }
}